<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmsSender.Properties.Settings>
            <setting name="Sid" serializeAs="String">
                <value>AC87943866bc8a396c5758cd8b4732abb2</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>c17786ce256ffa862d249ee5aa31c5c3</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>+12242315469</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value>proxy.omgtu</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </SmsSender.Properties.Settings>
    </userSettings>
</configuration>